* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 123.5%;
  letter-spacing: 0.1em;
  color: #000000;
}

.h2-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 123.5%;
  letter-spacing: 0.1em;
  color: #000000;
}

p {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #000000;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fixed-top {
  position: absolute;
}

.wrap-header {
  background: url("../img/bg-main.png");
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.head-title {
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 125px;
}

.middle-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.middle-title::before {
  content: "\2014";
  padding-right: 20px;
  border: black;
  width: 40px;
}

.navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.btn-order-calc {
  margin-top: 50px;
}

.btn-order-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  min-height: 50px;
  background-color: transparent;
  border: 2px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.btn-order-link:hover {
  text-decoration: none;
  background-color: black;
}

.btn-order-link:hover .btn-text {
  color: white;
}

.btn-text {
  margin: auto;
  color: black;
  font: 'PT Sans Narrow';
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  text-align: center;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.nav-link {
  font-family: PT Sans Narrow;
  font-style: normal;
  font-weight: normal;
  font-size: 18px !important;
  line-height: 23px !important;
  letter-spacing: 0.05em !important;
  color: black !important;
}

.nav-link:hover {
  border-bottom: 1px solid white;
}

/*block uslugi*/
.uslugi {
  margin-top: 100px;
}

.inner-block {
  margin-top: 40px;
}

.item-list-handrail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px 35px 40px 80px;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
  position: relative;
}

.select-item1::before {
  content: "";
  display: block;
  position: absolute;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 44px solid #EAEAEA;
  top: -43px;
  left: 120px;
  -webkit-transition: all 2.5s ease-out;
  transition: all 2.5s ease-out;
}

.select-item2::before {
  content: "";
  display: block;
  position: absolute;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 44px solid #EAEAEA;
  top: -43px;
  left: 500px;
  -webkit-transition: all 2.5s ease-out;
  transition: all 2.5s ease-out;
}

.select-item3::before {
  content: "";
  display: block;
  position: absolute;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 44px solid #EAEAEA;
  top: -43px;
  right: 140px;
  -webkit-transition: all 2.5s ease-out;
  transition: all 2.5s ease-out;
}

.select-item4::before {
  content: "";
  display: block;
  position: absolute;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 44px solid #EAEAEA;
  top: -43px;
  left: 120px;
  -webkit-transition: all 2.5s ease;
  transition: all 2.5s ease;
}

.select-item5::before {
  content: "";
  display: block;
  position: absolute;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 44px solid #EAEAEA;
  top: -43px;
  left: 500px;
  -webkit-transition: all 2.5s ease-out;
  transition: all 2.5s ease-out;
}

.select-item6::before {
  content: "";
  display: block;
  position: absolute;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 44px solid #EAEAEA;
  top: -43px;
  right: 140px;
  -webkit-transition: all 2.5s ease-out;
  transition: all 2.5s ease-out;
}

.item1:hover .dark,
.item2:hover .dark,
.item3:hover .dark,
.item4:hover .dark,
.item5:hover .dark,
.item6:hover .dark {
  display: block;
}

.select-item1,
.select-item2,
.select-item3,
.select-item4,
.select-item5,
.select-item6 {
  position: relative;
  display: none;
}

.handrail-content {
  display: none;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #EAEAEA;
}

.img-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.small-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.img-small {
  width: 109px;
  height: 60px;
}

.content {
  margin-left: 80px;
}

.handrail-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dark {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(47, 47, 47, 0.7);
}

/*footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #F2F2F2;
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem !important;
    padding-left: 1.2rem !important;
  }
}
/*# sourceMappingURL=style.css.map */