* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 123.5%;
    letter-spacing: 0.1em;
    color: #000000;
}

.h2-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 123.5%;
    letter-spacing: 0.1em;
    color: #000000;
}


p {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: #000000;
}

.main-menu {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.fixed-top {
    position: absolute;
}

.wrap-header {
    background: url('../img/bg-main.png');
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.head-title {
    // position: absolute;
    max-width: 750px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    // bottom: 0;
    padding-top: 125px;


}

.middle-title {
    display: flex;
    margin-top: 50px;
}

.middle-title::before {
    content: "\2014";
    padding-right: 20px;
    border: black;
    width: 40px;
}


.navbar-collapse {
    flex-grow: 0;
}

.btn-order-calc {
    margin-top: 50px;


}

.btn-order-link {
    display: flex;
    width: 250px;
    min-height: 50px;
    background-color: transparent;
    border: 2px solid black;
    box-sizing: border-box;
    transition: all .4s ease;
}

.btn-order-link:hover {
    text-decoration: none;
    background-color: black;
}

.btn-order-link:hover .btn-text {

    color: white;
}

.btn-text {
    margin: auto;
    color: black;
    font: 'PT Sans Narrow';
    font-weight: 700;
    font-style: normal;
    font-size: 21px;
    text-align: center;
    transition: all .4s ease;
}


.nav-link {
    font-family: PT Sans Narrow;
    font-style: normal;
    font-weight: normal;
    font-size: 18px !important;
    line-height: 23px !important;
    letter-spacing: 0.05em !important;
    color: black !important;
}


.nav-link:hover {
    border-bottom: 1px solid white;
}

/*block uslugi*/

.uslugi {
    margin-top: 100px;
}

.inner-block {
    margin-top: 40px;
    // margin-left: 100px;
}

.title-uslug {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
}

.item-list-handrail {
    display: flex;
    // align-items: center;
    justify-content: space-between;

}

.handrail-item {
    position: relative;
}

.handrail-item img {
    width: 346px;
    height: 430px;
}

.content-item {
    display: flex;
    justify-content: space-around;
    padding: 40px 35px 40px 80px;

}

.select-item1::before {
    content: "";
    display: block;
    position: absolute;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 44px solid #EAEAEA;
    top: -43px;
    left: 120px;
    transition: all 1.5s ease-out;
}

.select-item2::before {
    content: "";
    display: block;
    position: absolute;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 44px solid #EAEAEA;
    top: -43px;
    left: 500px;
    transition: all 1.5s ease-out;
}

.select-item3::before {
    content: "";
    display: block;
    position: absolute;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 44px solid #EAEAEA;
    top: -43px;
    right: 140px;
    transition: all 1.5s ease-out;
}

.select-item4::before {
    content: "";
    display: block;
    position: absolute;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 44px solid #EAEAEA;
    top: -43px;
    left: 120px;
    transition: all 1.5s ease;
}

.select-item5::before {
    content: "";
    display: block;
    position: absolute;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 44px solid #EAEAEA;
    top: -43px;
    left: 500px;
    transition: all 1.5s ease-out;
}

.select-item6::before {
    content: "";
    display: block;
    position: absolute;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 44px solid #EAEAEA;
    top: -43px;
    right: 140px;
    transition: all 1.5s ease-out;
}

// .item1:hover .dark,
// .item2:hover .dark,
// .item3:hover .dark,
// .item4:hover .dark,
// .item5:hover .dark,
// .item6:hover .dark {
//     display: block;

// }


.handrail-item:hover .dark {
    display: block;
}

.select-item1,
.select-item2,
.select-item3,
.select-item4,
.select-item5,
.select-item6 {
    position: relative;
    display: none;

}

.handrail-content {
    display: none;
    margin-top: 98px;
    margin-bottom: 100px;
    background-color: #EAEAEA;
}



.img-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // margin-left: 80px;
}

.small-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.img-small {
    width: 109px;
    height: 60px;

}

.content {
    // margin-top: 40px;
    margin-left: 80px;
}

.dark {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);

}

.wrap-inner {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.h2-title-black {
    color: white;
    text-align: center;
    padding-bottom: 8px;
    // padding-bottom: 20px;
}

.handrail-price-black {
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.p-dark {
    text-align: center;
    color: white;
}

.main-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 405px;
    width: 290px;
}

.top-block {
    margin-top: 100px;
}

.bottom-block {
    display: flex;
    flex-direction: column;
    height: 60px;
}


.strelka {
    background-image: url("../img/arrow_down.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
}

/*get-order*/
.get-order {
    margin-top: 100px;
    background-color: #EBEBEB;
}

.wrap-block {
    display: flex;
    justify-content: space-between;
    // background-color: #EBEBEB;
}

.h2-order::before {
    content: counter(num);
    counter-increment: num;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 123.5%;
    letter-spacing: 0.1em;
    color: #000000;
    padding-right: 35px;
}


.left-block {
    margin-top: 80px;
    // margin-left: 62px;
    margin-right: 40px;
}

.make-order {
    list-style-type: none;
    counter-reset: num;
}

.item {
    display: flex;
    align-items: first baseline;
}

/*portfolio*/
.portfolio {
    margin-top: 100px;
}

.list-portfolio img {
    width: 347px;
    height: 250px;
    margin-bottom: 40px;
}

/*why-are-we*/
.why-are-we {
    margin-top: 100px;
    background: #EFEFEF;
}

.right {
    // margin-top: 80px;
    margin-left: 96px;

}

.list-why {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    list-style-position: outside;
}

.item-list {
    padding-bottom: 20px;
    padding-left: 20px;
}



/*footer*/
.footer {
    display: flex;
    justify-content: space-around;
    background: #F2F2F2;
    // height: 450px;
}

@media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.2rem !important;
        padding-left: 1.2rem !important;
    }
}